html {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 10px;
}
a {
  color: #268bd2;
  text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.1rem;
}
h4, h5, h6 {
  font-size: 1rem;
  font-weight: 700;
}

/* Body text */
p {
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
strong {
  color: #303030;
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}