<!-- Send old browsers to be replaced -->
<!--[if lte IE 7]>
  <meta http-equiv="refresh" content="0" url="http://browsehappy.com/" />
  <script type="text/javascript">
  /* <![CDATA[ */
  window.top.location = 'http://browsehappy.com/';
  /* ]]> */
  </script>
<![endif]-->

<!-- Identify reasonable browsers -->
<!--[if IE 8]><<html class="ie8"> <![endif]-->
<!--[if gt IE 8]><html class="gt-ie8"><![endif]-->

<!-- Shim browsers for html5ish type stuff -->
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->