<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include gridly.html %}
  <header>
    <div class="header-inner">
      <a href="/" class="without-style"><h1 class="slim-title {% if page.title == "Home" %}typewriter{% endif %}"><span class="cursor animated infinite flash">|</span>Culture Ship Randomizer</h1></a>
    </div>
  </header>
  <div class="main">
    {{ content }}
  </div>
  <footer>
    <div class="footer-inner">
      <hr><br>
      {{ site.data.app.colophon | markdownify }}
    </div>
  </footer>
  <script src="{{ site.baseurl }}/js/bundle.js"></script>
  </body>
</html>
